* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif, Arial, Helvetica, sans-serif;
}

#site-name a {
    text-decoration: none;
    color:black;
   /* box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.19), 6px 6px 6px rgba(0, 0, 0, 0.23); */
    font-size: 40px;
    
}

nav {
    min-height: 10vmin;
    max-width: 100vmax;
    padding-top: 20px;
    padding-left: 8px;
    border-bottom: solid black .5px;
    /*background: linear-gradient(180deg, #0375B4, #FFCE00);*/
    opacity: .9;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.19), 6px 6px 6px rgba(0, 0, 0, 0.23);
    background-color: rgba(0, 255, 42, 0.3);
    
    
}

main {
    background-color: lemonchiffon;
}

/*SlideShow container*/
.slideshow-container {
    max-width: 1000px;
    padding-top: 10px;
    position: relative;
    margin: auto;
    
}

/* Hide the images by default*/
.slides {
    display:none;
}

/* previous and next buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 17px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/*Position next btn right*/
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/*On hover, add a background color, slight opacity*/
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/*Caption text*/
.slide-text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align:center;
}

/*Number text*/
.number-text {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/*The dots*/
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.slide-color {
    border: solid cornflowerblue 22px;
    box-shadow:   inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
}
/*Fading animation*/
.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/*Call to action*/
#call-to-action {
    padding-top: 10px;
    
}
#age-instruction {
    padding: 10px 0 30px 0;
    font-size: 22px;
    
}

#call-to-action ul li {
    padding: 5px 0 5px 0;
}

#call-to-action ul li a {
    text-decoration: none;
    color:black;
    padding: 5px 0 5px 0;
    font-size: 22px;
}
#call-to-action ul li a:hover {
    background-color: #717171;
    cursor: pointer;
    color: white;
}
/*Icon stylings*/

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
#map-location {
    border: solid cornflowerblue 22px;
    box-shadow:   inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
}

#about-heading {
    padding: 20px 0 20px 0;
    margin:  20px 0 20px 0;
}


.grid-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.two {
    
    font-size: 20px;
    text-align: justify;
    padding-left: 20px;
    background-color:  white;
    
    box-shadow:   inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
    
    
}

#jumbo {
    margin: 25px 25px 25px 25px; 
    padding: 25px 25px 25px 25px;
    height: 400px;
    max-width: 100vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
}
#grady {
    box-shadow:   inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
}

#testimonials {
    
    padding: 50px 0 50px 0;
    height: 500px;
    max-width: 100vmax;
}

#testimonials h2 {
    padding: 50px 0 50px 0;
}

#testimonials p {
    font-size: 20px;
    
}

#text-wrapper {
    
    box-shadow:   inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
    background-color: white;
}

#suz {
    border: solid cornflowerblue 22px;
    box-shadow:   inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
}
.quote {
    font-style: italic;
    font-size: 20px;
    text-align:left;
    padding-left: 1px;
    padding-right: 2px;
    
}

#author {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    
}

h3 {
    font-size: 22px;
}

h3 a {
    text-decoration: none;
    color:black;
    font-size: 29px;
    
}
footer {
    min-height: 10vmin;
    max-width: 100vmax;
    margin-top: 10px;
    padding-top: 20px;
    padding-left: 8px;
    border-bottom: solid black .5px;
    opacity: .9;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 255, 42, 0.3);
    box-shadow: 10px -5px 5px rgba(0, 0, 0, 0.19), 6px -6px 6px rgba(0, 0, 0, 0.23);
    border-top: solid black .5px;
}

footer ul li {
    list-style: none;
    
}

footer ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    
    
}

footer ul li a:hover {
    cursor: pointer;
    color:white;
    background-color: #717171;
}

/*Media queries for smaller screens go below*/

/* Tablets and smaller */

@media screen and (max-width: 820px) {
    
    body {
        max-width: 100vmax;
    }
    .slideshow-container {
        max-width: 100vmax;
    }
    .slide-color{
        max-width: 100vmax;
    }
    .slide-text {
        max-width: 100vmax;
    }
    .grid-wrapper {
        flex-direction:column;
    }
    #jumbo {
        flex-direction: column;
    }
    #contact {
        max-width: 100vmax;
        flex-direction: column;
        align-content: center;
    }
}
