* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif, Arial, Helvetica, sans-serif;
}

#site-name a {
    text-decoration: none;
    color:black;
   /* box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.19), 6px 6px 6px rgba(0, 0, 0, 0.23); */
    font-size: 29px;
    background-color: aliceblue;
}

nav {
    min-height: 10vmin;
    max-width: 100vmax;
    padding-top: 20px;
    padding-left: 8px;
    border-bottom: solid black .5px;
    /*background: linear-gradient(180deg, #0375B4, #FFCE00);*/
    opacity: .9;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.19), 6px 6px 6px rgba(0, 0, 0, 0.23);
    background: url(./images/pexels-pixabay-235992.jpg);
    background-size: cover;
    
}

#jumbotron-wrapper {
    height: 700px;
    max-width: 100vmax;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

#jumbotron {}

#jumbo {
    margin: 25px 25px 25px 25px; 
    padding: 25px 25px 25px 25px;
    height: 400px;
    max-width: 100vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
}

#text-wrapper {
    border: 20px solid gray;
    border-radius: 5%;
}

#suz {
    border:20px solid gray;
    border-radius: 10%;
}
.quote {
    font-style: italic;
    font-size: 20px;
    text-align:left;
    padding-left: 1px;
    padding-right: 2px;
}

#author {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    
}








/*Media queries for smaller screens go below*/
